@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* CSS variables */

  /* color */
  --clr-dark: #0B0C10;
  --clr-lightdark: #1F2833;
  --clr-grey: #C5C6C7;
  --clr-cyan: #66FCF1;
  --clr-blue: #45A29E;
  --clr-white: #fff;

  /* font size */
  --fs-h1: 72px;
  --fs-h2: 48px;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --contianer-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--clr-dark);
  color: var(--clr-white);
  line-height: 1.7;
  /* background image */
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.8rem;
  color: var(--clr-cyan);
}

section {
  margin-top: 8rem;
}

section > h2 {
  text-align: center;
  color: var(--clr-cyan);
}

.text-light {
  color: var(--clr-grey);
}

a {
  color: var(--clr-blue);
  transition: var(--transition);
}

a:hover {
  color: var(--clr-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-blue);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--clr-blue);
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-white);
  color: var(--clr-dark);
  border-color: transparent;
}

.btn-primary {
  background: var(--clr-cyan);
  color: var(--clr-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* meadia queries for medium devices */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}

/* home page */
.main-content {
  background-color: var(--clr-dark);
  height: 100vh;
  color: var(--clr-cyan);
  display: flex;
  align-items: center;
  font-size: 8rem;
}

.subheading {
  color: var(--clr-grey);
  font-size: 2rem;
}

.link {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.left {
  margin-left: 2rem;
}

.center1 {
  margin: auto;
}

.home-left {
  display: inline-block;
  transform: rotate(270deg);
  position: relative;
  right: 3.1rem;
  top: 8.5rem;
}

.home-right {
  display: inline-block;
  transform: rotate(90deg);
  position: relative;
  left: 51.6rem;
  top: 9rem;
}

.home-up {
  display: inline-block;
  position: relative;
  top: 4rem;
  right: 8rem;
}

.home-down {
  display: inline-block;
  position: relative;
  bottom: 2.5rem;
  left: 32rem;
}

.leftline {
  width: 60%;
  height: 4px;
  border-bottom: 2px solid var(--clr-grey);
  position: relative;
  left: 22.5rem;
  top: 2.25rem;
}

.rightline {
  width: 52%;
  height: 4px;
  border-bottom: 2px solid var(--clr-grey);
  position: relative;
  left: 1rem;
  bottom: 0.75rem;
}

/* media queries for medium devices */
@media screen and (max-width: 1260px) {
  .main-content {
    font-size: 6.6rem;
  }

  .subheading {
    font-size: 1.6rem;
  }

  .home-left {
    display: inline-block;
    transform: rotate(270deg);
    position: relative;
    right: 2.5rem;
    top: 7.3rem;
  }
  
  .home-right {
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    left: 42.6rem;
    top: 7.5rem;
  }
  
  .home-up {
    display: inline-block;
    position: relative;
    top: 4rem;
    right: 7rem;
  }
  
  .home-down {
    display: inline-block;
    position: relative;
    bottom: 2rem;
    left: 26.5rem;
  }
  
  .leftline {
    width: 62%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 17rem;
    top: 2.5rem;
  }
  
  .rightline {
    width: 52%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 1rem;
    bottom: 0.7rem;
  }

  .link {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .left {
    margin-left: 1.75rem;
  }
  
}

/* meadia queries for small devices */
@media screen and (max-width: 900px) {
  .main-content {
    font-size: 4.4rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .home-left {
    display: inline-block;
    transform: rotate(270deg);
    position: relative;
    right: 2.2rem;
    top: 5.2rem;
  }
  
  .home-right {
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    left: 28rem;
    top: 5.2rem;
  }
  
  .home-up {
    display: inline-block;
    position: relative;
    top: 2.6rem;
    right: 6rem;
  }
  
  .home-down {
    display: inline-block;
    position: relative;
    bottom: 1.8rem;
    left: 15rem;
  }
  
  .leftline {
    width: 55%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 14rem;
    top: 1.5rem;
  }
  
  .rightline {
    width: 42%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 1rem;
    bottom: 0.7rem;
  }

  .link {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .left {
    margin-left: 1.5rem;
  }
  
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .main-content {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 0.8rem;
  }

  .home-left {
    display: inline-block;
    transform: rotate(270deg);
    position: relative;
    right: 1.3rem;
    top: 3.2rem;
  }
  
  .home-right {
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    left: 15.5rem;
    top: 3.2rem;
  }
  
  .home-up {
    display: inline-block;
    position: relative;
    top: 1.7rem;
    right: 3.4rem;
  }
  
  .home-down {
    display: inline-block;
    position: relative;
    bottom: 1.1rem;
    left: 7.8rem;
  }
  
  .leftline {
    width: 51%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 8.7rem;
    top: 0.9rem;
  }
  
  .rightline {
    width: 39%;
    height: 4px;
    border-bottom: 2px solid var(--clr-grey);
    position: relative;
    left: 0.4rem;
    bottom: 0.4rem;
  }

  .link {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .left {
    margin-left: 1rem;
  }
  
}

/* Floating nav bar */
nav {
  background: rgba(179, 175, 175, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--clr-grey);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(179, 175, 175, 0.2);
}

nav a.active {
  background: var(--clr-dark);
  color: var(--clr-white);
}

/* About section */
.about-main {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  font-size: 1.25rem;
}

.about__container {
  width: 100%;
  /* aspect-ratio: 1/1; */
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--clr-cyan), transparent);
  display: grid;
  place-items: center;
}

.about-img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about-img:hover {
  transform: rotate(0);
}

.about-content h2 {
  font-size: 2.8rem;
  color: var(--clr-cyan);
}

.about-content p {
  margin: 1.5rem 0 1.5rem;
  color: var(--clr-grey);
}

/* meadia queries for medium devices */
@media screen and (max-width: 1024px) {
  .about-main {
    grid-template-columns: 1fr;
    gap: 0;
    font-size: 1rem;
  }

  .about__container {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about-content p {
    margin: 1rem 0 1.5rem;
  }
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .about__container {
    width: 65%;
    margin: 0 auto 3rem;
    font-size: 1rem;
  }

  .about-content {
    margin: 0.8rem;
  }

  .about-content p {
    margin: 1.5rem 0;
  }
}

/* projects section */
.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.projects__item {
  width: 30%;
  margin-top: 1.5rem;
  padding: 1.75rem 1.25rem 1.75rem 1.25rem;
  border-radius: 1.5rem;
  background: rgba(31, 32, 37, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  backdrop-filter: blur(15px);
  transition: var(--transition);
}

.projects__item:hover {
  box-shadow: 0 5px 15px rgba(102, 252, 241, 0.8);
}

.projects-img {
  height: 190px;
  overflow: hidden;
  border-radius: 1rem;
}

.more {
  margin-top: 2rem;
}

.center {
  margin-left: 45%;
}

/* meadia queries for medium devices */
@media screen and (max-width: 1024px) {
  .projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
  
  .projects__item {
    width: 45%;
  }
  
  .projects-img {
    height: 190px;
  }
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .projects__container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .projects__item {
    width: 95%;
    margin-left: 0.5rem;
  }
  
  .projects-img {
    height: 190px;
  }

  .center {
    margin-left: 30%;
  }
}

/* skills container */
.skills__container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.skills-item {
  width: 11%;
  border-radius: 1.5rem;
  background: rgba(31, 32, 37, 0.6);
  padding: 1rem;
  margin: 1rem;
  transition: var(--transition);
}

.skills-item:hover {
  box-shadow: 0 5px 15px rgba(102, 252, 241, 0.8);
}

/* meadia queries for medium devices */
@media screen and (max-width: 1024px) {
  .skills-item {
    width: 19%;
    margin: 0.9rem;
  }
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .skills-item {
    width: 38%;
  }
}

/* contacts section */
.contact__container {
  background: rgba(179, 175, 175, 0.3);
  /* width: max-content; */
  height: max-content;
  display: block;
  padding: 0.7rem 0.5rem;
  z-index: 2;
  position: fixed;
  top: 40%;
  left: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.contact__container a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--clr-grey);
  font-size: 1.2rem;
}

.contact__container a:hover {
  background: rgba(179, 175, 175, 0.2);
}

/* media queries for medium devices */
@media screen and (max-width: 1024px) {
  .contact__container {
    left: 90%;
  }
}

/* meadia queries for small devices */
@media screen and (max-width: 600px) {
  .contact__container {
    left: 80%;
  }
}
